body {
	font-family: 'Karla';
	background: #edeae5;
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    font-style: italic;
    transition: 0.4s;
}

a:hover {
    color: rgba(0, 0, 0, 0.7);
}

div {
	transition: linear 0.2s;
}

#container {
    margin: auto;
    width: 60%;
    position: relative;
    padding-top: 10px;
    /* display: flex;
    flex-direction: column; */
    /* top: calc(50% - 240px); */
    /* left: calc(50% - 240px); */
}

.circle {
    /* padding-top: 16%; */
    width: 16%;
    background: black;
    margin-right: 2%;
    border-radius: 50%;
    
}
.square {
    width: 16%;
    background: black;
    color: blanchedalmond;
    margin-right: 2%;
}
.row {
    height: calc(width/5);
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green {
    background: #78c272;
}
.fancy {
    border: 2% inset rgba(74, 74, 74, 0.25);
}

.long {
    width: 34%;
    background-color: transparent;
}

.text {
    background: transparent;
    padding-top: 4%;
    color: navy;
    font-size: 250%;
    font-weight: bolder;
    text-align: left;
    line-height: 20%;
}

#photo {
    background-image: url("assets/images/Screen Shot 2018-07-22 at 10.15.44 PM copy.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}