body {
	font-family: 'sans-serif';
	background: rgb(228, 227, 227);
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(192, 255, 197, 0.972);
    font-style: italic;
    transition: 0.4s;
    font-size: 250%;
    font-weight: bolder;
    text-align: center;
    
}

a:hover {
    color: rgba(218, 250, 203, 0.7);
    opacity: 80%;
}

div {
	transition: linear 0.2s;
}

#container {
    margin: auto;
    width: 100%;
    max-width: 2000px;
    position: relative;
}

.headline {
    display: flex;
    color: rgb(29, 39, 1);
    width: 100%;
    text-align: left;
    padding-bottom: 12%;
    padding-top: 9%;
    justify-content: space-evenly;
    font-family: futura-pt, sans-serif;
    font-weight: 150;
    font-size: 150%;
}
.circle {
    /* padding-top: 16%; */
    width: 16%;
    background: black;
    margin-right: 1%;
    border-radius: 50%;
    
}

.square {
    width: 16%;
    background: black;
    color: blanchedalmond;
    margin-right: 1%;
}
.row {
    height: calc(width/5);
    margin-bottom: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.green {
    background: #78c272;
}


.long {
    padding: 1%;
    width: 33%;
    background-color: transparent;
}

.text {
    background: transparent;
    color: rgb(29, 39, 1);
    font-size: 200%;
    text-align: left;
    vertical-align: middle;
    font-weight: 700;
    font-style: italic;
    margin-block-start: 0;
}

.avatar {
    display: block;
    max-width:28%;
    max-height:28%;
    border-radius: 0 10% 5% 10%
}

.resume {
    background: rgb(32, 23, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sites-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sites {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.icon {
    max-width: 50%;
    max-height: 50%;
}

.transparent-square {
    background: transparent;
}

.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
